h1 {
  font-family: 'BioRhyme';
  text-align: center;
  font-size: 50px;
  color: #895B5B;
}

header {
  text-align: center;
}


img.horse {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

a {
  color: white;
  font-family: 'BioRhyme';
}

.nav{
  margin: 0 0 0 0;
  font-size: 100%;
  width: 100%;
}

.nav-expand-lg {
  text-align: center;
  background: #895B5B;
}

.nav-light {
  text-align: center;
  background: #895B5B;
}

ul {
  padding: 10px;
  background: #895B5B;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

h3{
  font-family: 'BioRhyme';
  text-align: center;
  font-size: 25px;
  color: #895B5B;
}

h4{
  text-align: center;
  color: #ccb3b3;
}

.column{
  float: left;
  width: 50%;
  padding: 50px;
}

.row:after{
  content: " ";
  display: table;
  clear: both;
}

p{
  font-size: 25px;
  font-family: 'BioRhyme';
  text-align: center;
  color: #ccb3b3;
}

.social {
  text-align: center;
  font-family: 'BioRhyme';
  font-size: 15px;
  color: #ccb3b3;
}

.fa {
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #895B5B;
    color: white;
}

.fa-twitter {
    background: #895B5B;
    color: white;
}

.fa-envelope {
    background: #895B5B;
    color: white;
}

footer {
    background: #895B5B;
    height: 50px;
    margin-top: 30px;
}
